
  <div class="page-body">
    <div class="container-xl">

        <div class="card card-md">
            <div class="card-header">
              <h2 class="card-title">Loan Application Status</h2>
            </div>
                    <fieldset>

                        <div class="card card-md m-4 p-4">

                            <!-- <h3 *ngIf="!displaySearchResults">No Records Yet</h3> -->

                            <!-- <div class="row row-cards">
                                <h2 class="d-flex justify-content-center">Loan Information for {{ loanDetails.customerName }}</h2>

                                <div class="ui-g-12 no-padding">
                                <div class="card no-padding">
                                    <div style="margin-bottom:0" class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row">
                                            </div>

                                        </div>
                                        <div class="panel-body">
                                            <div class="form-horizontal">
                                                <p-tabView>
                                                    <p-tabPanel header="Loan Information">
                                                        <div class="table-responsive">
                                                            <table class="table table-customer-information">
                                                            <tbody *ngFor="let loan of loanDetails.loanApplicationDetails">
                                                                <tr>
                                                                    <td>
                                                                        <strong>Application Reference Number:</strong>
                                                                    </td>
                                                                    <td>{{ loanDetails.applicationReferenceNumber }}</td>
                                                                    <td>
                                                                        <strong>Customer Code:</strong>
                                                                    </td>
                                                                    <td>{{ loanDetails.customerCode }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong>Customer Name:</strong>
                                                                    </td>
                                                                    <td>{{ loanDetails.customerName }}</td>

                                                                    <td>
                                                                        <strong>Relationship Officer Name:</strong>
                                                                    </td>
                                                                    <td>{{ loanDetails.relationshipOfficerName }}</td>
                                                                    <td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong>Relationship Manager Name:</strong>
                                                                    </td>
                                                                    <td>{{ loanDetails.relationshipManagerName }}</td>
                                                                    <td>
                                                                        <strong>Approval Status:</strong>
                                                                    </td>
                                                                    <td>{{ loanDetails.approvalStatus }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                    <strong>Loan Branch:</strong>
                                                                </td>
                                                                <td>{{ loanDetails.loanBranch }}</td>
                                                                        <td>
                                                                        <strong>Application Date:</strong>
                                                                    </td>
                                                                    <td>{{ loanDetails.applicationDate | date : 'dd/MM/yyyy'}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong>Submitted For Appraisal:</strong>
                                                                    </td>
                                                                    <td>{{ loanDetails.submittedForAppraisal }}</td>
                                                                    <td>
                                                                        <strong>Application Status:</strong>
                                                                    </td>
                                                                    <td>{{ loanDetails.applicationStatus }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong>Offer Letter Available?:</strong>
                                                                    </td>
                                                                    <td>{{ loanDetails.isOfferLetterAvailable }}</td>
                                                                    <td>
                                                                        <strong>Loan Amount:</strong>
                                                                    </td>
                                                                    <td>N{{ loan.amount }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                    <strong>Product Name:</strong>
                                                                </td>
                                                                <td>{{ loan.productName }}</td>
                                                                    <td>
                                                                        <strong>Approved Tenor:</strong>
                                                                    </td>
                                                                    <td>{{ loan.approvedTenor }} Months</td>
                                                                </tr><br>
                                                            </tbody>
                                                        </table></div>
                                                    </p-tabPanel>
                                                </p-tabView>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div> -->


                        </div>
                    </fieldset>




        </div>
    </div>
  </div>

