<app-nav-bar></app-nav-bar>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="rgb(207, 159, 255)"
  type="ball-scale-multiple"
>
  <p style="font-size: 25px; color: white">Please wait...</p>
</ngx-spinner>

<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-md-8 justify-content-center">

        <div *ngIf="!showOtherForm" class="card card-md">
          <div class="card-header bg-blue-lt">
            <h1 class="card-title mx-lg-auto">Internet Banking Sign Up Form</h1>
          </div>

          <div class="card-body">

            <form [formGroup]="registrationForm">

                <div class="text-center text-muted mb-lg-3">
                  Only existing bank customers are elgible to sign up for the internet banking app. <a [routerLink]="['/open-account']" >Open an account</a> if you are not an existing bank customer
                </div>

                <div class="row">
                  <div class="mb-4 col-sm-6 col-lg-12">
                    <label class="form-label required">Account Number</label>
                    <div>
                      <input type="text" class="form-control" placeholder="Enter account number" formControlName="accountNumber" minlength="10" maxlength="10"
                        id="bvn"
                        [ngClass]="!registrationForm.controls['accountNumber'].valid ? 'required-input' : 'valid-input'">
                        <div *ngIf="!registrationForm.controls['accountNumber'].valid && (registrationForm.controls['accountNumber'].touched || userSubmitted || nextClicked)"
                        class="error-block">
                          Account number field is required
                        </div>
                      <!-- <small class="form-hint">We'll never share your BVN with anyone else.</small> -->
                    </div>
                  </div>
                </div>

              <div class="row">
                <div class="mb-4 col-sm-6 col-lg-12">
                  <label class="form-label required">First Name</label>
                  <div>
                    <input type="text" class="form-control" placeholder="Enter first name" formControlName="firstname"
                      id="firstname"
                      [ngClass]="!registrationForm.controls['firstname'].valid ? 'required-input' : 'valid-input'">
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="mb-4 col-sm-6 col-lg-12">
                  <label class="form-label required">Last Name</label>
                  <div>
                    <input type="text" class="form-control" placeholder="Enter last name" formControlName="surname"
                      id="surname"
                      [ngClass]="!registrationForm.controls['surname'].valid ? 'required-input' : 'valid-input'">
                      <div *ngIf="!registrationForm.controls['surname'].valid && (registrationForm.controls['surname'].touched || userSubmitted || nextClicked)"
                      class="error-block">
                      Surname field is required
                      </div>
                  </div>
                </div>
              </div>


              <div class="row">

                <div class="mb-4 col-sm-6 col-lg-12">
                  <label class="form-label required">Email Address</label>
                  <div>
                    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email"
                      formControlName="email" id="email"
                      [ngClass]="!registrationForm.controls['email'].valid ? 'required-input' : 'valid-input'">
                      <div *ngIf="!registrationForm.controls['email'].valid && (registrationForm.controls['email'].touched || userSubmitted || nextClicked)"
                      class="error-block">
                        Email field is required
                      </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="mb-4 col-sm-6 col-lg-12">
                  <label class="form-label required">Password</label>
                  <div>
                    <input type="password" class="form-control" placeholder="Enter password" formControlName="password"
                      id="password"
                      [ngClass]="!registrationForm.controls['password'].valid ? 'required-input' : 'valid-input'">
                      <div *ngIf="!registrationForm.controls['password'].valid && (registrationForm.controls['password'].touched || userSubmitted || nextClicked)"
                      class="error-block">
                        Password field is required
                      </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="mb-4 col-sm-6 col-lg-12">
                  <label class="form-label required">Confirm Password</label>
                  <div>
                    <input type="password" class="form-control" placeholder="Confirm password" formControlName="confirmPassword"
                      id="confirmPassword"
                      [ngClass]="!registrationForm.controls['confirmPassword'].valid ? 'required-input' : 'valid-input'">
                      <div *ngIf="!registrationForm.controls['confirmPassword'].valid && (registrationForm.controls['confirmPassword'].touched || userSubmitted || nextClicked)"
                      class="error-block">
                        Confirm password and password field does not match
                      </div>
                      <!-- <span *ngIf="registrationForm.hasError('mustMatch') && confirmPassword.valid">
                        Confirm password does not match
                      </span> -->
                      <!-- <div *ngIf="!registrationForm.controls['confirmPassword'].value != registrationForm.controls['password'].value"
                      class="error-block">
                       Confirm Password and Password do not match
                      </div> -->
                      <small class="form-hint">
                        Your password must be more than 5 characters long.
                      </small>

                  </div>
                </div>
              </div>



              <div class="d-grid gap-2 mt-3">
                <button class="btn btn-success btn-block" type="button" [disabled]="!registrationForm.valid"
                (click)="selectTab(registrationForm.valid)">Proceed</button>
              </div>

            </form>
          </div>

        </div>




        <div *ngIf="showOtherForm">
          <div class="card card-md">
            <div class="card-body">

              <div *ngIf="emailOTPValid === 0">
                <label class="form-label">Confirm OTP sent to -
                  <b>{{registrationForm.controls['email'].value}}</b></label>    <small class="form-hint">
                   Use <strong>1234</strong> as OTP
                  </small>
                <div>
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" placeholder="Enter OTP" [(ngModel)]="emailOTP"
                      [ngClass]="!emailOTP ? 'required-input' : 'valid-input'">
                    <button class="btn btn-success" type="button" (click)="confirmOTP()">Confirm</button>
                  </div>
                  <small class="form-hint">
                    Kindly enter the code sent to the above email and click 'Confirm' to validate the email.
                  </small>
                </div>
              </div>

              <div *ngIf="emailOTPValid === 1" class="alert alert-success mb-4" role="alert">
                <h3>OTP Confirmed</h3>
                <p>Your email <b>{{registrationForm.controls['email'].value}}</b> has been confirmed
                  successfully,
                  you can proceed.</p>
              </div>

              <div *ngIf="emailOTPValid === 2" class="alert alert-danger" role="alert">
                <h3>OTP Confirmation Failed</h3>
                <p>Kindly go back and confirm if your email is correct.</p>
                <p>Clic the 'Enter OTP again' to re-enter the OTP
                  Code.
                </p>
                <div class="btn-list">
                  <a class="btn bg-white" (click)="enterOtpAgain()">Enter OTP again</a>
                </div>
              </div>


            </div>
          </div>
        </div>
        <form (ngSubmit)="submit(registrationForm)">
          <div *ngIf="showOtherForm" class="col mt-5">
            <div class="btn-list justify-content-end">
              <a (click)="backToForm()" type="button" class="btn btn-secondary btn-lg">
                Edit Details
              </a>
              <button type="submit" [disabled]="registrationForm.invalid" class="btn btn-primary btn-lg">Proceed to Sign Up
              </button>
            </div>
          </div>
        </form>


    </div>
  </div>
</div>
