.home-cover{
  /* background-image: url("../../../../assets/img/home-bg.jpg"); */
  background: rgba(170, 31, 31, 0.6),;
}

.bg-color{
  background: rgb(70, 36, 76);
}

.bg-yellow{
  background:  rgb(109, 17, 125);
}
.btn-col{
  background: rgb(212, 162, 221);
  color: white;
}
.btn-col2{
  color: rgb(70, 36, 76);
  background: white;
}
.btn-col2:hover{
  background: rgb(70, 36, 76);
  color: white;
}
.card{
  border-radius: 10px;
}



