<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="rgb(207, 159, 255)"
  type="ball-scale-multiple"
>
  <p style="font-size: 25px; color: white">Please wait...</p>
</ngx-spinner>


<div class="col-md-10 ">
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <div class="card card-col">
              <div class="card-statistic-3 p-4">
                  <!-- <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div> -->
                  <div class="mb-4">
                      <h5 class="card-title mb-0">Account Balance</h5>
                  </div>
                  <div class="row align-items-center mb-2 d-flex">
                      <div class="col-8">
                          <h2 class="d-flex align-items-center mb-0">
                            ₦{{accountBalance}}
                          </h2>
                      </div>
                      <div class="col-4 text-right">
                          <!-- <span><i class="fa fa-arrow-up"></i></span> -->
                      </div>
                  </div>
                  <div class="progress mt-1 " data-height="8" style="height: 8px;">
                      <div class="progress-bar" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
          </div>
      </div>
      </div>


        <div class="card card-md">
          <div class="card-body">
            <div class="hr-text mb-6">QUICK ACTIONS</div>
            <div class="row row-cards">
              <div class="col-xl-6 col-lg-6">
                <div class="card card-col">
                    <div class="card-statistic-3 p-4"  data-bs-toggle="modal"  data-bs-target="#transfer-form">
                        <!-- <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div> -->
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Send Money</h5>
                            <span class="sb-nav-link-icon text-right"><i class="fas fa-exchange"></i></span>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0">

                                </h2>
                            </div>
                            <!-- <div class="col-4 text-right">
                              <div class="sb-nav-link-icon text-right"><i class="fas fa-exchange"></i></div>
                            </div> -->
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar " role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" ></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6" data-bs-toggle="modal"  data-bs-target="#airtime-form">
              <div class="card card-col">
                  <div class="card-statistic-3 p-4">
                      <!-- <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div> -->
                      <div class="mb-4">
                          <h5 class="card-title mb-0">Purchase Airtime</h5>
                          <div class="sb-nav-link-icon"><i class="fas fa-credit-card"></i></div>
                      </div>
                      <div class="row align-items-center mb-2 d-flex">
                          <div class="col-8">
                              <h2 class="d-flex align-items-center mb-0">

                              </h2>
                          </div>
                          <!-- <div class="col-4 text-right">
                            <div class="sb-nav-link-icon text-right"><i class="fas fa-exchange"></i></div>
                          </div> -->
                      </div>
                      <div class="progress mt-1 " data-height="8" style="height: 8px;">
                          <div class="progress-bar " role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" ></div>
                      </div>
                  </div>
              </div>
          </div>
            </div>
            <div class="row row-cards">
              <div class="col-xl-6 col-lg-6">
                <div class="card card-col">
                    <div class="card-statistic-3 p-4">
                        <!-- <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div> -->
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Transaction History</h5>
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0">

                                </h2>
                            </div>
                            <!-- <div class="col-4 text-right">
                              <div class="sb-nav-link-icon text-right"><i class="fas fa-exchange"></i></div>
                            </div> -->
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar " role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" ></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
              <div class="card card-col">
                  <div class="card-statistic-3 p-4">
                      <!-- <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div> -->
                      <div class="mb-4">
                          <h5 class="card-title mb-0">Help & Complaints</h5>
                          <span class="sb-nav-link-icon text-right"><i class="fas fa-question-circle"></i></span>
                      </div>
                      <div class="row align-items-center mb-2 d-flex">
                          <div class="col-8">
                              <h2 class="d-flex align-items-center mb-0">

                              </h2>
                          </div>
                          <!-- <div class="col-4 text-right">
                            <div class="sb-nav-link-icon text-right"><i class="fas fa-exchange"></i></div>
                          </div> -->
                      </div>
                      <div class="progress mt-1 " data-height="8" style="height: 8px;">
                          <div class="progress-bar " role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" ></div>
                      </div>
                  </div>
              </div>
          </div>
            </div>
          </div>
        </div>




</div>



<div class="modal modal-blur fade" id="transfer-form" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Send Money</h5>
              <button (click)="refreshPage()" type="button" class="btn-close mx-4 mt-4" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form *ngIf="!showOtherForm" [formGroup]="transferForm" (ngSubmit)="sendMoney(transferForm)">

                <div class="row">
                  <div class="mb-4 col-sm-6 col-lg-12">
                    <label class="form-label required">Account Number</label>
                    <div>
                      <input type="text" class="form-control" placeholder="Enter account number" formControlName="receiverAccountNo" minlength="10" maxlength="10"
                        id="bvn"
                        [ngClass]="!transferForm.controls['receiverAccountNo'].valid ? 'required-input' : 'valid-input'">
                        <div *ngIf="!transferForm.controls['receiverAccountNo'].valid && (transferForm.controls['receiverAccountNo'].touched || userSubmitted || nextClicked)"
                        class="error-block">
                          Account number field is required
                        </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="mb-4 col-sm-6 col-lg-12">
                    <label class="form-label required">Recipient's Name</label>
                    <div>
                      <input type="text" class="form-control" placeholder="Enter first name"
                        id="firstname"
                        [attr.disabled]="true">
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="mb-4 col-sm-6 col-lg-12">
                    <label class="form-label required">Amount</label>
                    <div>
                      <input type="text" class="form-control" placeholder="Enter account number" formControlName="amountSent"
                        id="bvn"
                        [ngClass]="!transferForm.controls['amountSent'].valid ? 'required-input' : 'valid-input'" autocomplete="off">
                        <div *ngIf="!transferForm.controls['amountSent'].valid && (transferForm.controls['amountSent'].touched || userSubmitted || nextClicked)"
                        class="error-block">
                          Amount field is required
                        </div>
                    </div>
                  </div>
                </div>

              <div class="row">
                <div class="mb-4 col-sm-6 col-lg-12">
                  <label class="form-label required">Transaction Pin</label>
                  <div>
                    <input type="password" class="form-control" placeholder="Enter password" formControlName="pin"
                      id="pin"
                      [ngClass]="!transferForm.controls['pin'].valid ? 'required-input' : 'valid-input'"autocomplete="off">
                      <div *ngIf="!transferForm.controls['pin'].valid && (transferForm.controls['pin'].touched || userSubmitted || nextClicked)"
                      class="error-block">
                        Please enter pin
                      </div>
                  </div>
                </div>
              </div>



              <div class="d-grid gap-2 mt-3">
                <button class="btn btn-success btn-block" type="submit"
                [disabled]="!transferForm.valid">Send</button>
              </div>


            </form>
          </div>

        </div>


    </div>
  </div>


  <div class="modal modal-blur fade" id="airtime-form" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Purchase Airtime</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <form *ngIf="!showOtherForm" [formGroup]="airtimeForm">

                  <div class="row">
                    <div class="mb-4 col-sm-6 col-lg-12">
                      <label class="form-label required">Phone Number</label>
                      <div>
                        <input type="text" class="form-control" placeholder="Enter phone number" formControlName="receiverAccountNo" minlength="10" maxlength="10"
                          id="receiverAccountNo"
                          [ngClass]="!airtimeForm.controls['receiverAccountNo'].valid ? 'required-input' : 'valid-input'">
                          <div *ngIf="!airtimeForm.controls['receiverAccountNo'].valid && (airtimeForm.controls['receiverAccountNo'].touched || userSubmitted || nextClicked)"
                          class="error-block">
                            Phone number field is required
                          </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="mb-4 col-sm-6 col-lg-12">
                      <label class="form-label required">Amount</label>
                      <div>
                        <input type="text" class="form-control" placeholder="Enter amount" formControlName="amountSent"
                          id="amountSent"
                          [ngClass]="!airtimeForm.controls['amountSent'].valid ? 'required-input' : 'valid-input'">
                          <div *ngIf="!airtimeForm.controls['amountSent'].valid && (airtimeForm.controls['amountSent'].touched || userSubmitted || nextClicked)"
                          class="error-block">
                            Amount field is required
                          </div>
                      </div>
                    </div>
                  </div>

                <div class="row">
                  <div class="mb-4 col-sm-6 col-lg-12">
                    <label class="form-label required">Transaction Pin</label>
                    <div>
                      <input type="password" class="form-control" placeholder="Enter password" formControlName="pin"
                        id="pin"
                        [ngClass]="!airtimeForm.controls['pin'].valid ? 'required-input' : 'valid-input'">
                        <div *ngIf="!airtimeForm.controls['pin'].valid && (airtimeForm.controls['pin'].touched || userSubmitted || nextClicked)"
                        class="error-block">
                          Please enter pin
                        </div>
                    </div>
                  </div>
                </div>


                <div class="d-grid gap-2 mt-3">
                  <button class="btn btn-success btn-block" type="submit"
                  (click)="selectTab(airtimeForm.valid)">Buy</button>
                </div>

              </form>


              <div *ngIf="showOtherForm">
                <div class="card card-md">
                  <div class="card-body">

                    <div class="modal-body text-center py-5">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-4 text-green" width="50" height="50"
                        viewBox="0 0 24 24" stroke-width="6" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <circle cx="12" cy="12" r="9" />
                        <path d="M9 12l2 2l4 -4" />
                      </svg>
                      <div class="font-weight-bold" style="font-size: 30px;">Transaction Successful</div>
                    </div>
                    <div class="modal-footer">
                      <a type="button" class="btn" data-bs-dismiss="modal">
                        Close
                      </a>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>




      </div>
    </div>
